.buttons {
  padding-top:20px;
}
.button {
  font: bold 20px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  margin-right: 10px;
}
.log {
  font: 30px Arial;
  text-decoration: none;
}
.table {
	display: table;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
.td {
	display: table-cell;
	padding-right:10px;
	padding-left: 10px;
}
.tdc {
        display: table-cell;
        padding-right:10px;
	padding-left: 10px;
	color: red;
}

.tr {
	display: table-row;
}
.tr:nth-child(odd){
	background-color: #eee;
}
.tr:nth-child(even){
	background-color: #fff;
}
